name: coverage

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  coveralls:
    runs-on: ubuntu-latest
    container: golang:1.20

    steps:
      - name: Create coverprofile for code
        run: |
          pwd
          ls -la
          ls -al ../
          ls -al ../../
          go test -covermode=count -coverprofile=.coverage ./...

      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2.2.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
