name: autotests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  coverallstests:
    runs-on: ubuntu-latest

    steps:
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2.2.3
